In [4]:
import pandas as pd
import numpy as np

In [5]:
data_df = pd.read_csv('bible_data_set.csv')

print(data_df)

               citation        book  chapter  verse  \
0           Genesis 1:1     Genesis        1      1
1           Genesis 1:2     Genesis        1      2
2           Genesis 1:3     Genesis        1      3
3           Genesis 1:4     Genesis        1      4
4           Genesis 1:5     Genesis        1      5
...                 ...         ...      ...    ...
31097  Revelation 22:17  Revelation       22     17
31098  Revelation 22:18  Revelation       22     18
31099  Revelation 22:19  Revelation       22     19
31100  Revelation 22:20  Revelation       22     20
31101  Revelation 22:21  Revelation       22     21

                                                    text
0      In the beginning God created the heaven and th...
1      And the earth was without form, and void; and ...
2      And God said, Let there be light: and there wa...
3      And God saw the light, that it was good: and G...
4      And God called the light Day, and the darkness...
...                                                  ...
31097  And the Spirit and the bride say, Come. And le...
31098  For I testify unto every man that heareth the ...
31099  And if any man shall take away from the words ...
31100  He which testifieth these things saith, Surely...
31101  The grace of our Lord Jesus Christ be with you...

[31102 rows x 5 columns]

In [7]:
#1- Looking for missing values.
print(data_df.isnull())#Looks good- no missing values.

       citation   book  chapter  verse   text
0         False  False    False  False  False
1         False  False    False  False  False
2         False  False    False  False  False
3         False  False    False  False  False
4         False  False    False  False  False
...         ...    ...      ...    ...    ...
31097     False  False    False  False  False
31098     False  False    False  False  False
31099     False  False    False  False  False
31100     False  False    False  False  False
31101     False  False    False  False  False

[31102 rows x 5 columns]

In [8]:
#1.b - To be sure missing values aren't where we can't see them
print(data_df.isnull().sum())#Looks good!

citation    0
book        0
chapter     0
verse       0
text        0
dtype: int64

In [9]:
#2 - Identify duplicate records.
print(data_df.duplicated())#Looks good, but maybe they are duplicated where we can't see them.

0        False
1        False
2        False
3        False
4        False
         ...
31097    False
31098    False
31099    False
31100    False
31101    False
Length: 31102, dtype: bool

In [10]:
#2.b - Count duplicate records
print(data_df.duplicated().sum)#Looks good- no duplicates.

<bound method NDFrame._add_numeric_operations.<locals>.sum of 0        False
1        False
2        False
3        False
4        False
         ...
31097    False
31098    False
31099    False
31100    False
31101    False
Length: 31102, dtype: bool>

In [12]:
#3 - Trim whitespace.
data_df['text'] = data_df['text'].str.strip()

In [14]:
print(data_df)

               citation        book  chapter  verse  \
0           Genesis 1:1     Genesis        1      1
1           Genesis 1:2     Genesis        1      2
2           Genesis 1:3     Genesis        1      3
3           Genesis 1:4     Genesis        1      4
4           Genesis 1:5     Genesis        1      5
...                 ...         ...      ...    ...
31097  Revelation 22:17  Revelation       22     17
31098  Revelation 22:18  Revelation       22     18
31099  Revelation 22:19  Revelation       22     19
31100  Revelation 22:20  Revelation       22     20
31101  Revelation 22:21  Revelation       22     21

                                                    text
0      In the beginning God created the heaven and th...
1      And the earth was without form, and void; and ...
2      And God said, Let there be light: and there wa...
3      And God saw the light, that it was good: and G...
4      And God called the light Day, and the darkness...
...                                                  ...
31097  And the Spirit and the bride say, Come. And le...
31098  For I testify unto every man that heareth the ...
31099  And if any man shall take away from the words ...
31100  He which testifieth these things saith, Surely...
31101  The grace of our Lord Jesus Christ be with you...

[31102 rows x 5 columns]

In [15]:
data_df

,citation,book,chapter,verse,text
0,Genesis 1:1,Genesis,1,1,In the beginning God created the heaven and th...
1,Genesis 1:2,Genesis,1,2,"And the earth was without form, and void; and ..."
2,Genesis 1:3,Genesis,1,3,"And God said, Let there be light: and there wa..."
3,Genesis 1:4,Genesis,1,4,"And God saw the light, that it was good: and G..."
4,Genesis 1:5,Genesis,1,5,"And God called the light Day, and the darkness..."
...,...,...,...,...,...
31097,Revelation 22:17,Revelation,22,17,"And the Spirit and the bride say, Come. And le..."
31098,Revelation 22:18,Revelation,22,18,For I testify unto every man that heareth the ...
31099,Revelation 22:19,Revelation,22,19,And if any man shall take away from the words ...
31100,Revelation 22:20,Revelation,22,20,"He which testifieth these things saith, Surely..."
31101,Revelation 22:21,Revelation,22,21,The grace of our Lord Jesus Christ be with you...

In [19]:
#4 - Column citation contains the book chapter and verse but is repeated in other columns and separated.  Delete the column citation.
del data_df['citation']

In [20]:
data_df#View the dataframe to review.

,book,chapter,verse,text
0,Genesis,1,1,In the beginning God created the heaven and th...
1,Genesis,1,2,"And the earth was without form, and void; and ..."
2,Genesis,1,3,"And God said, Let there be light: and there wa..."
3,Genesis,1,4,"And God saw the light, that it was good: and G..."
4,Genesis,1,5,"And God called the light Day, and the darkness..."
...,...,...,...,...
31097,Revelation,22,17,"And the Spirit and the bride say, Come. And le..."
31098,Revelation,22,18,For I testify unto every man that heareth the ...
31099,Revelation,22,19,And if any man shall take away from the words ...
31100,Revelation,22,20,"He which testifieth these things saith, Surely..."
31101,Revelation,22,21,The grace of our Lord Jesus Christ be with you...

In [23]:
#5 - Rename my columns with capitals.
data_df.rename(columns = {'book':'Book', 'chapter':'Chapter', 'verse':'Verse', 'text':'Text'}, inplace = True)
print(data_df.columns)

Index(['Book', 'Chapter', 'Verse', 'Text'], dtype='object')

In [24]:
data_df

,Book,Chapter,Verse,Text
0,Genesis,1,1,In the beginning God created the heaven and th...
1,Genesis,1,2,"And the earth was without form, and void; and ..."
2,Genesis,1,3,"And God said, Let there be light: and there wa..."
3,Genesis,1,4,"And God saw the light, that it was good: and G..."
4,Genesis,1,5,"And God called the light Day, and the darkness..."
...,...,...,...,...
31097,Revelation,22,17,"And the Spirit and the bride say, Come. And le..."
31098,Revelation,22,18,For I testify unto every man that heareth the ...
31099,Revelation,22,19,And if any man shall take away from the words ...
31100,Revelation,22,20,"He which testifieth these things saith, Surely..."
31101,Revelation,22,21,The grace of our Lord Jesus Christ be with you...

In [25]:
#Project Webscraping
import bs4

In [58]:
from urllib.request import urlopen as uReq
from bs4 import BeautifulSoup as soup
import requests

In [59]:
my_url = "https://en.wikipedia.org/wiki/Chapters_and_verses_of_the_Bible"

In [60]:
uClient = uReq(my_url)

In [61]:
page_html = uClient.read()

In [65]:
uClient.close()

In [63]:
page_soup = soup(page_html, "html.parser")

In [64]:
page_soup.h1

In [85]:
bible_table = page_soup.find("table", {"class":"wikitable"})

In [69]:
#bible_table_data = bible_table.tbody.find_all("tr")

In [86]:
len(table)

2

In [87]:
table[0]

<table class="wikitable" style="float:left; margin:25px">
<caption>Old Testament – 929 chapters<sup class="reference" id="cite_ref-blueletterbiblebooks_27-0"><a href="#cite_note-blueletterbiblebooks-27">[27]</a></sup>
</caption>
<tbody><tr>
<th colspan="2">Book / Division</th>
<th colspan="2">Chapters
</th></tr>
<tr style="border-top-width:3px; border-top-style:solid; font-size:1.1em; font-weight:bold">
<td colspan="2">Pentateuch (or the Law)</td>
<td style="text-align:right;border:none">187</td>
<td style="border:none">
</td></tr>
<tr>
<td style="border:none"></td>
<td><a href="/wiki/Book_of_Genesis" title="Book of Genesis">Genesis</a></td>
<td colspan="2" style="text-align:right">50
</td></tr>
<tr>
<td></td>
<td><a href="/wiki/Book_of_Exodus" title="Book of Exodus">Exodus</a></td>
<td colspan="2" style="text-align:right">40
</td></tr>
<tr>
<td></td>
<td><a class="mw-redirect" href="/wiki/Leviticus" title="Leviticus">Leviticus</a></td>
<td colspan="2" style="text-align:right">27
</td></tr>
<tr>
<td></td>
<td><a href="/wiki/Book_of_Numbers" title="Book of Numbers">Numbers</a></td>
<td colspan="2" style="text-align:right">36
</td></tr>
<tr>
<td></td>
<td><a class="mw-redirect" href="/wiki/Deuteronomy" title="Deuteronomy">Deuteronomy</a></td>
<td colspan="2" style="text-align:right">34
</td></tr>
<tr style="border-top-width:3px; border-top-style:solid; font-size:1.1em; font-weight:bold">
<td colspan="2">Historical Books</td>
<td style="text-align:right;border:none">249</td>
<td style="border:none">
</td></tr>
<tr>
<td></td>
<td><a href="/wiki/Book_of_Joshua" title="Book of Joshua">Joshua</a></td>
<td colspan="2" style="text-align:right">24
</td></tr>
<tr>
<td></td>
<td><a href="/wiki/Book_of_Judges" title="Book of Judges">Judges</a></td>
<td colspan="2" style="text-align:right">21
</td></tr>
<tr>
<td></td>
<td><a href="/wiki/Book_of_Ruth" title="Book of Ruth">Ruth</a></td>
<td colspan="2" style="text-align:right">4
</td></tr>
<tr>
<td></td>
<td><a class="mw-redirect" href="/wiki/1_Samuel" title="1 Samuel">1 Samuel</a></td>
<td colspan="2" style="text-align:right">31
</td></tr>
<tr>
<td></td>
<td><a class="mw-redirect" href="/wiki/2_Samuel" title="2 Samuel">2 Samuel</a></td>
<td colspan="2" style="text-align:right">24
</td></tr>
<tr>
<td></td>
<td><a class="mw-redirect" href="/wiki/1_Kings" title="1 Kings">1 Kings</a></td>
<td colspan="2" style="text-align:right">22
</td></tr>
<tr>
<td></td>
<td><a class="mw-redirect" href="/wiki/2_Kings" title="2 Kings">2 Kings</a></td>
<td colspan="2" style="text-align:right">25
</td></tr>
<tr>
<td></td>
<td><a class="mw-redirect" href="/wiki/1_Chronicles" title="1 Chronicles">1 Chronicles</a></td>
<td colspan="2" style="text-align:right">29
</td></tr>
<tr>
<td></td>
<td><a class="mw-redirect" href="/wiki/2_Chronicles" title="2 Chronicles">2 Chronicles</a></td>
<td colspan="2" style="text-align:right">36
</td></tr>
<tr>
<td></td>
<td><a href="/wiki/Book_of_Ezra" title="Book of Ezra">Ezra</a></td>
<td colspan="2" style="text-align:right">10
</td></tr>
<tr>
<td></td>
<td><a href="/wiki/Book_of_Nehemiah" title="Book of Nehemiah">Nehemiah</a></td>
<td colspan="2" style="text-align:right">13
</td></tr>
<tr>
<td></td>
<td><a href="/wiki/Book_of_Esther" title="Book of Esther">Esther</a></td>
<td colspan="2" style="text-align:right">10
</td></tr>
<tr style="border-top-width:3px; border-top-style:solid; font-size:1.1em; font-weight:bold">
<td colspan="2">Books of Wisdom (or "Poetry")</td>
<td style="text-align:right;border:none">243</td>
<td style="border:none">
</td></tr>
<tr>
<td></td>
<td><a href="/wiki/Book_of_Job" title="Book of Job">Job</a></td>
<td colspan="2" style="text-align:right">42
</td></tr>
<tr>
<td></td>
<td><a class="mw-redirect" href="/wiki/Book_of_Psalms" title="Book of Psalms">Psalms</a></td>
<td colspan="2" style="text-align:right">150
</td></tr>
<tr>
<td></td>
<td><a href="/wiki/Book_of_Proverbs" title="Book of Proverbs">Proverbs</a></td>
<td colspan="2" style="text-align:right">31
</td></tr>
<tr>
<td></td>
<td><a href="/wiki/Ecclesiastes" title="Ecclesiastes">Ecclesiastes</a></td>
<td colspan="2" style="text-align:right">12
</td></tr>
<tr>
<td></td>
<td><a class="mw-redirect" href="/wiki/Song_of_Solomon" title="Song of Solomon">Song of Solomon</a></td>
<td colspan="2" style="text-align:right">8
</td></tr>
<tr style="border-top-width:3px; border-top-style:solid; font-size:1.1em; font-weight:bold">
<td colspan="2">Major Prophets</td>
<td style="text-align:right;border:none">183</td>
<td style="border:none">
</td></tr>
<tr>
<td></td>
<td><a href="/wiki/Book_of_Isaiah" title="Book of Isaiah">Isaiah</a></td>
<td colspan="2" style="text-align:right">66
</td></tr>
<tr>
<td></td>
<td><a href="/wiki/Book_of_Jeremiah" title="Book of Jeremiah">Jeremiah</a></td>
<td colspan="2" style="text-align:right">52
</td></tr>
<tr>
<td></td>
<td><a href="/wiki/Book_of_Lamentations" title="Book of Lamentations">Lamentations</a></td>
<td colspan="2" style="text-align:right">5
</td></tr>
<tr>
<td></td>
<td><a href="/wiki/Book_of_Ezekiel" title="Book of Ezekiel">Ezekiel</a></td>
<td colspan="2" style="text-align:right">48
</td></tr>
<tr>
<td></td>
<td><a href="/wiki/Book_of_Daniel" title="Book of Daniel">Daniel</a></td>
<td colspan="2" style="text-align:right">12
</td></tr>
<tr style="border-top-width:3px; border-top-style:solid; font-size:1.1em; font-weight:bold">
<td colspan="2">Minor Prophets</td>
<td style="text-align:right;border:none">67</td>
<td style="border:none">
</td></tr>
<tr>
<td></td>
<td><a href="/wiki/Book_of_Hosea" title="Book of Hosea">Hosea</a></td>
<td colspan="2" style="text-align:right">14
</td></tr>
<tr>
<td></td>
<td><a href="/wiki/Book_of_Joel" title="Book of Joel">Joel</a></td>
<td colspan="2" style="text-align:right">3
</td></tr>
<tr>
<td></td>
<td><a href="/wiki/Book_of_Amos" title="Book of Amos">Amos</a></td>
<td colspan="2" style="text-align:right">9
</td></tr>
<tr>
<td></td>
<td><a href="/wiki/Book_of_Obadiah" title="Book of Obadiah">Obadiah</a></td>
<td colspan="2" style="text-align:right">1
</td></tr>
<tr>
<td></td>
<td><a href="/wiki/Book_of_Jonah" title="Book of Jonah">Jonah</a></td>
<td colspan="2" style="text-align:right">4
</td></tr>
<tr>
<td></td>
<td><a href="/wiki/Book_of_Micah" title="Book of Micah">Micah</a></td>
<td colspan="2" style="text-align:right">7
</td></tr>
<tr>
<td></td>
<td><a href="/wiki/Book_of_Nahum" title="Book of Nahum">Nahum</a></td>
<td colspan="2" style="text-align:right">3
</td></tr>
<tr>
<td></td>
<td><a href="/wiki/Book_of_Habakkuk" title="Book of Habakkuk">Habakkuk</a></td>
<td colspan="2" style="text-align:right">3
</td></tr>
<tr>
<td></td>
<td><a href="/wiki/Book_of_Zephaniah" title="Book of Zephaniah">Zephaniah</a></td>
<td colspan="2" style="text-align:right">3
</td></tr>
<tr>
<td></td>
<td><a href="/wiki/Book_of_Haggai" title="Book of Haggai">Haggai</a></td>
<td colspan="2" style="text-align:right">2
</td></tr>
<tr>
<td></td>
<td><a href="/wiki/Book_of_Zechariah" title="Book of Zechariah">Zechariah</a></td>
<td colspan="2" style="text-align:right">14
</td></tr>
<tr>
<td></td>
<td><a href="/wiki/Book_of_Malachi" title="Book of Malachi">Malachi</a></td>
<td colspan="2" style="text-align:right">4
</td></tr></tbody></table>

In [88]:
table[1]

<table class="wikitable" style="margin:25px; float:left; clear:right">
<caption>New Testament – 260 chapters<sup class="reference" id="cite_ref-blueletterbiblebooks_27-1"><a href="#cite_note-blueletterbiblebooks-27">[27]</a></sup>
</caption>
<tbody><tr>
<th colspan="2">Book / Division</th>
<th colspan="2">Chapters
</th></tr>
<tr style="border-top-width:3px; border-top-style:solid; font-size:1.1em; font-weight:bold">
<td colspan="2">Gospels</td>
<td style="text-align:right;border:none">89</td>
<td style="border:none">
</td></tr>
<tr>
<td style="border:none"></td>
<td><a href="/wiki/Gospel_of_Matthew" title="Gospel of Matthew">Matthew</a></td>
<td colspan="2" style="text-align:right">28
</td></tr>
<tr>
<td></td>
<td><a href="/wiki/Gospel_of_Mark" title="Gospel of Mark">Mark</a></td>
<td colspan="2" style="text-align:right">16
</td></tr>
<tr>
<td></td>
<td><a href="/wiki/Gospel_of_Luke" title="Gospel of Luke">Luke</a></td>
<td colspan="2" style="text-align:right">24
</td></tr>
<tr>
<td></td>
<td><a class="mw-redirect" href="/wiki/The_Gospel_According_to_John" title="The Gospel According to John">John</a></td>
<td colspan="2" style="text-align:right">21
</td></tr>
<tr style="border-top-width:3px; border-top-style:solid; font-size:1.1em; font-weight:bold">
<td colspan="2">History</td>
<td style="text-align:right;border:none">28</td>
<td style="border:none">
</td></tr>
<tr>
<td></td>
<td><a class="mw-redirect" href="/wiki/Acts" title="Acts">Acts</a></td>
<td colspan="2" style="text-align:right">28
</td></tr>
<tr style="border-top-width:3px; border-top-style:solid; font-size:1.1em; font-weight:bold">
<td colspan="2">Pauline Epistles</td>
<td style="text-align:right;border:none">87</td>
<td style="border:none">
</td></tr>
<tr>
<td></td>
<td><a href="/wiki/Epistle_to_the_Romans" title="Epistle to the Romans">Romans</a></td>
<td colspan="2" style="text-align:right">16
</td></tr>
<tr>
<td></td>
<td><a class="mw-redirect" href="/wiki/1_Corinthians" title="1 Corinthians">1 Corinthians</a></td>
<td colspan="2" style="text-align:right">16
</td></tr>
<tr>
<td></td>
<td><a class="mw-redirect" href="/wiki/2_Corinthians" title="2 Corinthians">2 Corinthians</a></td>
<td colspan="2" style="text-align:right">13
</td></tr>
<tr>
<td></td>
<td><a href="/wiki/Epistle_to_the_Galatians" title="Epistle to the Galatians">Galatians</a></td>
<td colspan="2" style="text-align:right">6
</td></tr>
<tr>
<td></td>
<td><a class="mw-redirect" href="/wiki/Ephesians" title="Ephesians">Ephesians</a></td>
<td colspan="2" style="text-align:right">6
</td></tr>
<tr>
<td></td>
<td><a class="mw-redirect" href="/wiki/Philippians" title="Philippians">Philippians</a></td>
<td colspan="2" style="text-align:right">4
</td></tr>
<tr>
<td></td>
<td><a class="mw-redirect" href="/wiki/Colossians" title="Colossians">Colossians</a></td>
<td colspan="2" style="text-align:right">4
</td></tr>
<tr>
<td></td>
<td><a class="mw-redirect" href="/wiki/1_Thessalonians" title="1 Thessalonians">1 Thessalonians</a></td>
<td colspan="2" style="text-align:right">5
</td></tr>
<tr>
<td></td>
<td><a class="mw-redirect" href="/wiki/2_Thessalonians" title="2 Thessalonians">2 Thessalonians</a></td>
<td colspan="2" style="text-align:right">3
</td></tr>
<tr>
<td></td>
<td><a class="mw-redirect" href="/wiki/1_Timothy" title="1 Timothy">1 Timothy</a></td>
<td colspan="2" style="text-align:right">6
</td></tr>
<tr>
<td></td>
<td><a class="mw-redirect" href="/wiki/2_Timothy" title="2 Timothy">2 Timothy</a></td>
<td colspan="2" style="text-align:right">4
</td></tr>
<tr>
<td></td>
<td><a href="/wiki/Epistle_to_Titus" title="Epistle to Titus">Titus</a></td>
<td colspan="2" style="text-align:right">3
</td></tr>
<tr>
<td></td>
<td><a href="/wiki/Epistle_to_Philemon" title="Epistle to Philemon">Philemon</a></td>
<td colspan="2" style="text-align:right">1
</td></tr>
<tr style="border-top-width:3px; border-top-style:solid; font-size:1.1em; font-weight:bold">
<td colspan="2">General Epistles</td>
<td style="text-align:right;border:none">34</td>
<td style="border:none">
</td></tr>
<tr>
<td></td>
<td><a href="/wiki/Epistle_to_the_Hebrews" title="Epistle to the Hebrews">Hebrews</a></td>
<td colspan="2" style="text-align:right">13
</td></tr>
<tr>
<td></td>
<td><a href="/wiki/Epistle_of_James" title="Epistle of James">James</a></td>
<td colspan="2" style="text-align:right">5
</td></tr>
<tr>
<td></td>
<td><a class="mw-redirect" href="/wiki/1_Peter" title="1 Peter">1 Peter</a></td>
<td colspan="2" style="text-align:right">5
</td></tr>
<tr>
<td></td>
<td><a class="mw-redirect" href="/wiki/2_Peter" title="2 Peter">2 Peter</a></td>
<td colspan="2" style="text-align:right">3
</td></tr>
<tr>
<td></td>
<td><a class="mw-redirect" href="/wiki/1_John" title="1 John">1 John</a></td>
<td colspan="2" style="text-align:right">5
</td></tr>
<tr>
<td></td>
<td><a class="mw-redirect" href="/wiki/2_John" title="2 John">2 John</a></td>
<td colspan="2" style="text-align:right">1
</td></tr>
<tr>
<td></td>
<td><a class="mw-redirect" href="/wiki/3_John" title="3 John">3 John</a></td>
<td colspan="2" style="text-align:right">1
</td></tr>
<tr>
<td></td>
<td><a href="/wiki/Epistle_of_Jude" title="Epistle of Jude">Jude</a></td>
<td colspan="2" style="text-align:right">1
</td></tr>
<tr style="border-top-width:3px; border-top-style:solid; font-size:1.1em; font-weight:bold">
<td colspan="2">Apocalyptic Writings
<p>(Prophecy)
</p>
</td>
<td style="text-align:right;border:none">22</td>
<td style="border:none">
</td></tr>
<tr>
<td></td>
<td><a href="/wiki/Book_of_Revelation" title="Book of Revelation">Revelation</a></td>
<td colspan="2" style="text-align:right">22
</td></tr></tbody></table>

In [89]:
headers = [header.text.strip() for header in bible_table.find_all('th')]

In [90]:
print(headers)

['Book / Division', 'Chapters']

In [92]:
#Find all 'tr tags'
rows = []

data_rows = bible_table.find_all('tr')

for row in data_rows:
    value = row.find_all('td')
    beautified_value = [ele.text.strip() for ele in value]
    if len(beautified_value) == 0:
        continue
    rows.append(beautified_value)

In [93]:
print(rows)

[['Pentateuch (or the Law)', '187', ''], ['', 'Genesis', '50'], ['', 'Exodus', '40'], ['', 'Leviticus', '27'], ['', 'Numbers', '36'], ['', 'Deuteronomy', '34'], ['Historical Books', '249', ''], ['', 'Joshua', '24'], ['', 'Judges', '21'], ['', 'Ruth', '4'], ['', '1 Samuel', '31'], ['', '2 Samuel', '24'], ['', '1 Kings', '22'], ['', '2 Kings', '25'], ['', '1 Chronicles', '29'], ['', '2 Chronicles', '36'], ['', 'Ezra', '10'], ['', 'Nehemiah', '13'], ['', 'Esther', '10'], ['Books of Wisdom (or "Poetry")', '243', ''], ['', 'Job', '42'], ['', 'Psalms', '150'], ['', 'Proverbs', '31'], ['', 'Ecclesiastes', '12'], ['', 'Song of Solomon', '8'], ['Major Prophets', '183', ''], ['', 'Isaiah', '66'], ['', 'Jeremiah', '52'], ['', 'Lamentations', '5'], ['', 'Ezekiel', '48'], ['', 'Daniel', '12'], ['Minor Prophets', '67', ''], ['', 'Hosea', '14'], ['', 'Joel', '3'], ['', 'Amos', '9'], ['', 'Obadiah', '1'], ['', 'Jonah', '4'], ['', 'Micah', '7'], ['', 'Nahum', '3'], ['', 'Habakkuk', '3'], ['', 'Zephaniah', '3'], ['', 'Haggai', '2'], ['', 'Zechariah', '14'], ['', 'Malachi', '4']]

In [97]:
import csv

with open('bible_wiki_data.csv', 'w', newline="") as output:
    writer = csv.writer(output)
    writer.writerow(headers)
    writer.writerows(rows)

In [98]:
data_df_wiki = pd.read_csv('bible_wiki_data.csv')

In [99]:
data_df_wiki

                               Book / Division  Chapters
Pentateuch (or the Law)                    187       NaN
NaN                                    Genesis      50.0
NaN                                     Exodus      40.0
NaN                                  Leviticus      27.0
NaN                                    Numbers      36.0
NaN                                Deuteronomy      34.0
Historical Books                           249       NaN
NaN                                     Joshua      24.0
NaN                                     Judges      21.0
NaN                                       Ruth       4.0
NaN                                   1 Samuel      31.0
NaN                                   2 Samuel      24.0
NaN                                    1 Kings      22.0
NaN                                    2 Kings      25.0
NaN                               1 Chronicles      29.0
NaN                               2 Chronicles      36.0
NaN                                       Ezra      10.0
NaN                                   Nehemiah      13.0
NaN                                     Esther      10.0
Books of Wisdom (or "Poetry")              243       NaN
NaN                                        Job      42.0
NaN                                     Psalms     150.0
NaN                                   Proverbs      31.0
NaN                               Ecclesiastes      12.0
NaN                            Song of Solomon       8.0
Major Prophets                             183       NaN
NaN                                     Isaiah      66.0
NaN                                   Jeremiah      52.0
NaN                               Lamentations       5.0
NaN                                    Ezekiel      48.0
NaN                                     Daniel      12.0
Minor Prophets                              67       NaN
NaN                                      Hosea      14.0
NaN                                       Joel       3.0
NaN                                       Amos       9.0
NaN                                    Obadiah       1.0
NaN                                      Jonah       4.0
NaN                                      Micah       7.0
NaN                                      Nahum       3.0
NaN                                   Habakkuk       3.0
NaN                                  Zephaniah       3.0
NaN                                     Haggai       2.0
NaN                                  Zechariah      14.0
NaN                                    Malachi       4.0

In [100]:
#1- Looking for missing values.
print(data_df_wiki.isnull())
#Will want to remove the first column, because it isn't relevant to the book and chapter.  First I'll need to provide a column name.

                               Book / Division  Chapters
Pentateuch (or the Law)                  False      True
NaN                                      False     False
NaN                                      False     False
NaN                                      False     False
NaN                                      False     False
NaN                                      False     False
Historical Books                         False      True
NaN                                      False     False
NaN                                      False     False
NaN                                      False     False
NaN                                      False     False
NaN                                      False     False
NaN                                      False     False
NaN                                      False     False
NaN                                      False     False
NaN                                      False     False
NaN                                      False     False
NaN                                      False     False
NaN                                      False     False
Books of Wisdom (or "Poetry")            False      True
NaN                                      False     False
NaN                                      False     False
NaN                                      False     False
NaN                                      False     False
NaN                                      False     False
Major Prophets                           False      True
NaN                                      False     False
NaN                                      False     False
NaN                                      False     False
NaN                                      False     False
NaN                                      False     False
Minor Prophets                           False      True
NaN                                      False     False
NaN                                      False     False
NaN                                      False     False
NaN                                      False     False
NaN                                      False     False
NaN                                      False     False
NaN                                      False     False
NaN                                      False     False
NaN                                      False     False
NaN                                      False     False
NaN                                      False     False
NaN                                      False     False

In [103]:
data_df_wiki.dtypes

Book / Division     object
Chapters           float64
dtype: object

In [105]:
#Step 2- fill in zeros for NA--
data_df_wiki['Chapters']= data_df_wiki['Chapters'].fillna(0)#Change NAs to zero.

In [106]:
#Step 3- Make chapters an integer.
data_df_wiki['Chapters'] = data_df_wiki['Chapters'].astype(int)#Convert to integers for number of chapters).

In [107]:
data_df_wiki.dtypes

Book / Division    object
Chapters            int64
dtype: object

In [108]:
#Step 4- Remove first column-- is not working.
data_df_wiki.columns.str.match("Unnamed")
data_df_wiki.loc[:,~data_df_wiki.columns.str.match("Unnamed")]

                               Book / Division  Chapters
Pentateuch (or the Law)                    187         0
NaN                                    Genesis        50
NaN                                     Exodus        40
NaN                                  Leviticus        27
NaN                                    Numbers        36
NaN                                Deuteronomy        34
Historical Books                           249         0
NaN                                     Joshua        24
NaN                                     Judges        21
NaN                                       Ruth         4
NaN                                   1 Samuel        31
NaN                                   2 Samuel        24
NaN                                    1 Kings        22
NaN                                    2 Kings        25
NaN                               1 Chronicles        29
NaN                               2 Chronicles        36
NaN                                       Ezra        10
NaN                                   Nehemiah        13
NaN                                     Esther        10
Books of Wisdom (or "Poetry")              243         0
NaN                                        Job        42
NaN                                     Psalms       150
NaN                                   Proverbs        31
NaN                               Ecclesiastes        12
NaN                            Song of Solomon         8
Major Prophets                             183         0
NaN                                     Isaiah        66
NaN                                   Jeremiah        52
NaN                               Lamentations         5
NaN                                    Ezekiel        48
NaN                                     Daniel        12
Minor Prophets                              67         0
NaN                                      Hosea        14
NaN                                       Joel         3
NaN                                       Amos         9
NaN                                    Obadiah         1
NaN                                      Jonah         4
NaN                                      Micah         7
NaN                                      Nahum         3
NaN                                   Habakkuk         3
NaN                                  Zephaniah         3
NaN                                     Haggai         2
NaN                                  Zechariah        14
NaN                                    Malachi         4

In [109]:
data_df_wiki.columns

Index(['Book / Division', 'Chapters'], dtype='object')

In [110]:
#Step5 Another attempt to remove the rows that are incorrect as books or chapters.
data_df_wiki.drop([1,7,20,26,32], axis=0, inplace=True)#This doesn't work to remove the NaN values either.

KeyError: '[1 7 20 26 32] not found in axis'

In [112]:
#Step 6- Replace a NaN with a string.Doesn't work.
df2 = data_df_wiki.replace(np.NaN, ', regex=True')
print(df2)

                               Book / Division  Chapters
Pentateuch (or the Law)                    187         0
NaN                                    Genesis        50
NaN                                     Exodus        40
NaN                                  Leviticus        27
NaN                                    Numbers        36
NaN                                Deuteronomy        34
Historical Books                           249         0
NaN                                     Joshua        24
NaN                                     Judges        21
NaN                                       Ruth         4
NaN                                   1 Samuel        31
NaN                                   2 Samuel        24
NaN                                    1 Kings        22
NaN                                    2 Kings        25
NaN                               1 Chronicles        29
NaN                               2 Chronicles        36
NaN                                       Ezra        10
NaN                                   Nehemiah        13
NaN                                     Esther        10
Books of Wisdom (or "Poetry")              243         0
NaN                                        Job        42
NaN                                     Psalms       150
NaN                                   Proverbs        31
NaN                               Ecclesiastes        12
NaN                            Song of Solomon         8
Major Prophets                             183         0
NaN                                     Isaiah        66
NaN                                   Jeremiah        52
NaN                               Lamentations         5
NaN                                    Ezekiel        48
NaN                                     Daniel        12
Minor Prophets                              67         0
NaN                                      Hosea        14
NaN                                       Joel         3
NaN                                       Amos         9
NaN                                    Obadiah         1
NaN                                      Jonah         4
NaN                                      Micah         7
NaN                                      Nahum         3
NaN                                   Habakkuk         3
NaN                                  Zephaniah         3
NaN                                     Haggai         2
NaN                                  Zechariah        14
NaN                                    Malachi         4

In [119]:
#Step 7 Rename a column-- Doesn't work.
cols = list(df2.columns)
cols
cols[0]='Book'

In [118]:
df2

                               Book / Division  Chapters
Pentateuch (or the Law)                    187         0
NaN                                    Genesis        50
NaN                                     Exodus        40
NaN                                  Leviticus        27
NaN                                    Numbers        36
NaN                                Deuteronomy        34
Historical Books                           249         0
NaN                                     Joshua        24
NaN                                     Judges        21
NaN                                       Ruth         4
NaN                                   1 Samuel        31
NaN                                   2 Samuel        24
NaN                                    1 Kings        22
NaN                                    2 Kings        25
NaN                               1 Chronicles        29
NaN                               2 Chronicles        36
NaN                                       Ezra        10
NaN                                   Nehemiah        13
NaN                                     Esther        10
Books of Wisdom (or "Poetry")              243         0
NaN                                        Job        42
NaN                                     Psalms       150
NaN                                   Proverbs        31
NaN                               Ecclesiastes        12
NaN                            Song of Solomon         8
Major Prophets                             183         0
NaN                                     Isaiah        66
NaN                                   Jeremiah        52
NaN                               Lamentations         5
NaN                                    Ezekiel        48
NaN                                     Daniel        12
Minor Prophets                              67         0
NaN                                      Hosea        14
NaN                                       Joel         3
NaN                                       Amos         9
NaN                                    Obadiah         1
NaN                                      Jonah         4
NaN                                      Micah         7
NaN                                      Nahum         3
NaN                                   Habakkuk         3
NaN                                  Zephaniah         3
NaN                                     Haggai         2
NaN                                  Zechariah        14
NaN                                    Malachi         4

In [120]:
del df2.index.name  #Step 8 Still no good.

AttributeError: can't delete attribute

In [121]:
df2 = df2.reset_index(drop=True)#This works! Step 9- Remove unneeded column.

In [122]:
df2

    Book / Division  Chapters
0               187         0
1           Genesis        50
2            Exodus        40
3         Leviticus        27
4           Numbers        36
5       Deuteronomy        34
6               249         0
7            Joshua        24
8            Judges        21
9              Ruth         4
10         1 Samuel        31
11         2 Samuel        24
12          1 Kings        22
13          2 Kings        25
14     1 Chronicles        29
15     2 Chronicles        36
16             Ezra        10
17         Nehemiah        13
18           Esther        10
19              243         0
20              Job        42
21           Psalms       150
22         Proverbs        31
23     Ecclesiastes        12
24  Song of Solomon         8
25              183         0
26           Isaiah        66
27         Jeremiah        52
28     Lamentations         5
29          Ezekiel        48
30           Daniel        12
31               67         0
32            Hosea        14
33             Joel         3
34             Amos         9
35          Obadiah         1
36            Jonah         4
37            Micah         7
38            Nahum         3
39         Habakkuk         3
40        Zephaniah         3
41           Haggai         2
42        Zechariah        14
43          Malachi         4

In [125]:
#Drop rows with zeros.  Doesn't work.
df2.loc[(df2!=0).any(axis=1)]

    Book / Division  Chapters
0               187         0
1           Genesis        50
2            Exodus        40
3         Leviticus        27
4           Numbers        36
5       Deuteronomy        34
6               249         0
7            Joshua        24
8            Judges        21
9              Ruth         4
10         1 Samuel        31
11         2 Samuel        24
12          1 Kings        22
13          2 Kings        25
14     1 Chronicles        29
15     2 Chronicles        36
16             Ezra        10
17         Nehemiah        13
18           Esther        10
19              243         0
20              Job        42
21           Psalms       150
22         Proverbs        31
23     Ecclesiastes        12
24  Song of Solomon         8
25              183         0
26           Isaiah        66
27         Jeremiah        52
28     Lamentations         5
29          Ezekiel        48
30           Daniel        12
31               67         0
32            Hosea        14
33             Joel         3
34             Amos         9
35          Obadiah         1
36            Jonah         4
37            Micah         7
38            Nahum         3
39         Habakkuk         3
40        Zephaniah         3
41           Haggai         2
42        Zechariah        14
43          Malachi         4

In [126]:
#Step 10 Rename column

df2.columns =['Book', 'Chapters']

In [127]:
df2

               Book  Chapters
0               187         0
1           Genesis        50
2            Exodus        40
3         Leviticus        27
4           Numbers        36
5       Deuteronomy        34
6               249         0
7            Joshua        24
8            Judges        21
9              Ruth         4
10         1 Samuel        31
11         2 Samuel        24
12          1 Kings        22
13          2 Kings        25
14     1 Chronicles        29
15     2 Chronicles        36
16             Ezra        10
17         Nehemiah        13
18           Esther        10
19              243         0
20              Job        42
21           Psalms       150
22         Proverbs        31
23     Ecclesiastes        12
24  Song of Solomon         8
25              183         0
26           Isaiah        66
27         Jeremiah        52
28     Lamentations         5
29          Ezekiel        48
30           Daniel        12
31               67         0
32            Hosea        14
33             Joel         3
34             Amos         9
35          Obadiah         1
36            Jonah         4
37            Micah         7
38            Nahum         3
39         Habakkuk         3
40        Zephaniah         3
41           Haggai         2
42        Zechariah        14
43          Malachi         4

In [128]:
df2.drop([0,6,19,25,31], axis=0, inplace=True)#This works!

In [129]:
df2

               Book  Chapters
1           Genesis        50
2            Exodus        40
3         Leviticus        27
4           Numbers        36
5       Deuteronomy        34
7            Joshua        24
8            Judges        21
9              Ruth         4
10         1 Samuel        31
11         2 Samuel        24
12          1 Kings        22
13          2 Kings        25
14     1 Chronicles        29
15     2 Chronicles        36
16             Ezra        10
17         Nehemiah        13
18           Esther        10
20              Job        42
21           Psalms       150
22         Proverbs        31
23     Ecclesiastes        12
24  Song of Solomon         8
26           Isaiah        66
27         Jeremiah        52
28     Lamentations         5
29          Ezekiel        48
30           Daniel        12
32            Hosea        14
33             Joel         3
34             Amos         9
35          Obadiah         1
36            Jonah         4
37            Micah         7
38            Nahum         3
39         Habakkuk         3
40        Zephaniah         3
41           Haggai         2
42        Zechariah        14
43          Malachi         4

In [130]:
#The ethics of changing this data is that perhaps I could be inadvertantly changing relationships with the dtat cleaning steps, or creating biases.
#I eliminated some of this data because I understood the wiki table where the data came from and the errors or relationshops that 
#were unintended.  I feel confident that there weren't ethical issue created during this data cleaning, but I understood the 
#origins of the data from the web scraping efforts.